:root {
  --theme: #df6f2a;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Header {
  padding: 0 1rem;
  color: var(--theme);
}

.Tabs {
  margin: 1rem;
  position: relative;
  display: flex;
  background-color: #80808040;
  border-radius: 3rem;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border: 0.1rem solid #a0a0a060;
    border-radius: inherit;
    pointer-events: none;
    z-index: -1;
  }

  .Tab {
    padding: 0.8rem 0;
    flex-grow: 1;
    color: unset;
    background-color: transparent;
    border: 0;
    border-radius: 3rem;

    &:not(.active):hover {
      background-color: #80808060;
      cursor: pointer;
    }

    &.active {
      color: #ffffff;
      background-color: var(--theme);
    }
  }
}

.Main {
  min-height: 0;
  grid-row: 2;

  &>* {
    height: 100%;
    overflow: auto;
  }
}

.Clock {
  display: grid;
  place-items: center;

  .Display {
    font-size: 3rem;
    font-family: monospace;
  }

  button {
    width: 5rem;
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &.Start {
      color: #000000;
      background-color: #00de3f;
    }

    &.Stop {
      background-color: #c4240f;
    }
  }
}

.Log {
  display: grid;
  place-items: center;
}
