:root {
  --theme: #ce6422;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Header {
  padding: 0 1em;
  color: var(--theme);
}

.Tabs {
  margin: 1em;
  display: flex;
  background-color: #80808060;
  border: 0;
  border-radius: 2em;

  .Tab {
    padding: 1em 0;
    flex-grow: 1;
    background-color: transparent;
    border: 0;
    border-radius: 2em;

    &:not(.active):hover {
      background-color: #80808080;
      cursor: pointer;
    }

    &.active {
      background-color: var(--theme);
    }
  }
}

.Main {
  grid-row: 2;
}
