:root {
  --theme: #ce6422;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
  color: var(--theme);
}

main {
  flex: 1 0 auto;
}

nav {
  flex: 0 0 auto;
}
